/**
 * @file
 * Bartik layout styling.
 */

/**
 * Container
 */
.layout-container {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

@media all and (min-width: 851px) {
  .layout-container {
    max-width: 1290px;
  }
}

/**
 * Main
 */
.layout-main-wrapper {
  min-height: 300px;
}
.layout-main {
  margin-top: 20px;
  margin-bottom: 40px;
}

#block-bartik-branding > div > div > a {
  font-family: 'Gruppo', cursive;
  text-transform: uppercase;
}

.page-node-type-page article .node__content button {
  font-size: 41px;
  font-weight: 900;
  border-radius: 10px;
  width: 200px;
  text-transform: uppercase;
}